@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebf0ee,
  --text: #141a17,
  --primary: #6b8e80,
  --secondary: #c8d5d0,
  --accent: #5a776b,
}

body {
  background-color: var(--background);
  color: var(--text);
}